<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社区论坛</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="shortcut icon" href="./img/forum.png">
    <script src="./js/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.js"></script>
</head>

<body>
    <div class="title-box">
        <h3 class="title">社区疫情防控系统</h3>
        <a href="./login.html">
            <h5 class="sub_title">退出登录</h5>
        </a>
    </div>
    <!-- 菜单 -->
    <div class="menu">
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="#"><span class="shouye">社区论坛</span></a></li>
            <li><a href="person_mainpage.html">个人中心</a></li>
            <li><a href="bs_management.html">后台管理</a></li>
        </ul>
    </div>
    <!-- 正文区域 -->
    <div class="base-info-box" id="app">
        <div class="sub-title"><span>社区论坛</span></div>
        <div class="post-button-box">
            <input type="button" value="发布" class="post-button" id="post_botton_1" @click="show_edit()">
            <input type="button" value="我的发布" style="background-color: blue;" class="post-button" id="post_botton_2"
                @click="show_my_post()">
        </div>

        <div class="post-box" id="post_box" v-show="is_notice_show">
            <ul class="notice-content" v-show="!no_post">
                <li v-for="(post,index) in posts" @click="show_detail(index)">
                    <div class="notice_info">
                        <div class="notice_info_content">
                            <h4> {{ post.title }} (发布者：{{post.user_name}})</h4>
                        </div>
                        <p>{{ post.sendTime }}</p>
                    </div>
                </li>
            </ul>

            <div class="tishi" v-show="no_post">
                <h1>暂时没有帖子哦</h1>
                <span @click="show_edit()">点击去发布帖子吧</span>
            </div>
        </div>
        <!-- 这里展示我的帖子 -->
        <div class="post-box" id="my_post_box" v-show="is_my_notice_show">
            <ul class="notice-content" v-show="!no_post">
                <li v-for="(post,index) in posts" v-if="post.builder == uid" @click="show_detail(index)">
                    <div class="notice_info">
                        <div class="notice_info_content">
                            <h4> {{ post.title }} </h4>
                        </div>
                        <p>{{ post.sendTime }}</p>
                    </div>
                </li>
            </ul>

            <div class="tishi" v-show="no_post">
                <h1>暂时没有帖子哦</h1>
                <span @click="show_edit()">点击去发布帖子吧</span>
            </div>
        </div>
        <!-- 接下来是发帖的弹出窗 -->
        <div class="add-post-box" id="add_post_box" v-show="is_edit_show">
            <ul class="post">
                <li class="edit"><strong>编辑帖子</strong></li>
                <!-- 标题 -->
                <li class="post-title-box">
                    <input type="text" class="post-title" id="post-title" placeholder="请输入标题" v-model="post_title">
                </li>
                <!-- 内容 -->
                <li class="post-content-box">
                    <textarea name="post-content" class="post-content" id="post-content" cols="30" rows="10"
                        placeholder="请输入帖子内容" v-model="post_content"></textarea>
                </li>
                <li class="post-button-box-1">
                    <input type="button" class="post-button-comfirm" id="post-button" value="发布" @click="post">
                    <input type="button" class="post-button-cancel" id="post-button-concel" value="取消"
                        @click="show_edit">
                </li>
            </ul>
        </div>
        <!-- 这里是帖子详情展示 -->
        <div class="add-post-box-1" id="add_post_box" v-show="is_detail_show">
            <ul class="post">
                <li class="edit"><strong>帖子详情</strong></li>
                <!-- 标题 -->
                <li class="post-title-box" style="text-align: left;">
                    <h3> {{ post_title_detail }}</h3>
                </li>
                <li>
                    <p style="margin: 0;">
                        <span style="color: rgb(93, 74, 74); font-size:10px;">作者：{{builder_name}}</span><br>
                        <span style="color: rgb(93, 74, 74); font-size:10px;">发布时间：{{post_time_detail}}</span>
                    </p>
                </li>
                <!-- 内容 -->
                <li class="post-content-box-1" style="text-align: left;">
                    <p>{{post_content}}</p>
                </li>
                <li class="post-button-box-1">
                    <input type="button" class="post-button-comfirm" id="post-button" value="删除" @click="delete_post()"
                        v-show="edit_mine" style="background-color: red;margin-right: 50px;">
                    <input type="button" class="post-button-comfirm" id="post-button" value="返回"
                        style="background-color: grey;" @click="show_detail()">
                </li>
            </ul>
        </div>
    </div>

    <script src="./js/forum.js"></script>

</body>

</html>