<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.dao.UserDAO">
    <select id="findAll" resultType="com.example.project.entity.User">
        select *
        from user;
    </select>
    <insert id="add" parameterType="com.example.project.entity.User">
        insert user
        values (#{id}, #{name}, #{code}, #{password}, #{salt}, #{account}, #{lastTime}, #{idcard}, #{res}, #{gender},
                #{img}, #{address});
    </insert>
    <delete id="delete" parameterType="int">
        delete
        from user
        where id = #{id};
    </delete>
    <select id="findUserById" resultType="com.example.project.entity.User">
        select *
        from user
        where id = #{id};
    </select>
    <select id="findUserByName" resultType="com.example.project.entity.User">
        select *
        from user
        where name = #{name};
    </select>
    <update id="update" parameterType="com.example.project.entity.User">
        update user
        set name= #{name},
            code= #{code},
            password= #{password},
            salt= #{salt},
            account= #{account},
            lastTime= #{lastTime},
            idcard= #{idcard},
            res= #{res},
            gender= #{gender},
            img=#{img},
            address= #{address}
        where id = #{id}
    </update>
</mapper>